# Binaries for programs and plugins
secinfo

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
coverage.out
coverage.html

# Files used for testing/developing secinfo
streamers.csv
index.md
inactive.md
active.json
inactive.json

# Various IDE Junk
.vscode/
.idea/