name: Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        name: Checkout repository
        with:
          # default fetch-depth is insufficent to find previous coverage notes
          fetch-depth: 10

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5  # v6.2.0
        with:
          go-version: 1.26

      - name: Run tests and coverage report
        run: make test

      - uses: gwatts/go-coverage-action@v1
        id: coverage
        name: Post coverage report to pull request
        with:
          test-args: '["-v"]'
          coverage-threshold: 85

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        name: Upload coverage artifact
        with:
          name: coverage-report
          path: coverage.html
